<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ycb.mapper.AccountMapper">
    <select id="getByUsername" resultType="com.ycb.pojo.entity.Account">
        select *
        from `pet-adoption`.account
        where username = #{username}
          and account_status = 1
    </select>

    <select id="getLoginVOByUsername" resultType="com.ycb.pojo.vo.LoginVO">
        select *
        from `pet-adoption`.account
                 join `pet-adoption`.picture p on p.pic_id = account.picture_id
        where username = #{username}
          and account_status = 1
    </select>

    <insert id="save">
        insert into `pet-adoption`.account(username, password, email,
                                           gmt_create, gmt_modified, authority, nike_name)
            value (#{username}, #{password}, #{email},
                   #{gmtCreate}, #{gmtModified}, #{authority}, #{nikeName})
    </insert>

    <select id="getByEmail" resultType="com.ycb.pojo.entity.Account">
        select *
        from `pet-adoption`.account
        where email = #{email}
    </select>

    <update id="updatePwByEmail">
        update `pet-adoption`.account
        set password     = #{password},
            gmt_modified = #{gmtModified}
        where email = #{email}
          and account_status = 1
    </update>

    <select id="getAccountVOById" resultType="com.ycb.pojo.vo.AccountVO">
        select *
        from `pet-adoption`.account a
                 join `pet-adoption`.picture p on p.pic_id = a.picture_id
        where a.account_id = #{id}
          and a.account_status = 1
    </select>

    <update id="updateAccountById">
        update `pet-adoption`.account
        <set>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="nikeName != null and nikeName != ''">
                nike_name = #{nikeName},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="signature != null and signature != ''">
                signature = #{signature},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
        </set>
        where account_id = #{accountId}
        and account_status = 1
    </update>

    <update id="updateAccPic">
        update `pet-adoption`.account
        set picture_id   = #{picture.picId},
            gmt_modified = #{picture.gmtModified}
        where account_id = #{accId}
          and account_status = 1
    </update>

    <select id="isDisableByUsername" resultType="java.lang.Integer">
        select account_status
        from `pet-adoption`.account
        where username = #{username}
    </select>

    <select id="isDisableByAccountId" resultType="java.lang.Integer">
        select account_status
        from `pet-adoption`.account
        where account_id = #{id}
    </select>

    <select id="getEmailById" resultType="java.lang.String">
        select email
        from `pet-adoption`.account
        where account_id = #{accountId}
    </select>

    <select id="getAccountByBulletinId" resultType="com.ycb.pojo.vo.AccountVO">
        select *
        from `pet-adoption`.account a
                 join `pet-adoption`.bulletin b on b.account_id = a.account_id
                 join `pet-adoption`.picture p on p.pic_id = a.picture_id
        where b.bulletin_id = #{bulletinId}
          and a.account_status = 1
    </select>

    <select id="getAccPicNameByAccId" resultType="java.lang.String">
        select pic.pic_name
        from `pet-adoption`.picture pic
                 join `pet-adoption`.account a on pic.pic_id = a.picture_id
        where a.account_id = #{accountId}
    </select>
</mapper>