<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ycb.mapper.PetBulletinMapper">

    <update id="updateBulletinByBulId">
        update `pet-adoption`.bulletin
        set contacts_name   = #{contactsName},
            contacts_phone  = #{contactsPhone},
            contacts_wechat = #{contactsWechat},
            contacts_email  = #{contactsEmail},
            location        = #{location},
            title           = #{title},
            text            = #{text},
            gmt_modified    = #{gmtModified}
        where bulletin_id = #{bulletinId}
    </update>

    <update id="updatePetByPetId">
        update `pet-adoption`.pet
        set pet_name     = #{petName},
            pet_type     = #{petType},
            pet_sex      = #{petSex},
            is_free      = #{isFree},
            gmt_modified = #{gmtModified}
        where pet_id = #{petId}
    </update>

    <select id="getAll" resultType="com.ycb.entity.vo.response.AllPetAndBulVO">
        select *
        from `pet-adoption`.pet pet
                 join `pet-adoption`.bulletin b on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on p.pic_id = pet.picture_id
        where pet.is_delete = 0
          and b.is_delete = 0
        order by b.gmt_create
    </select>

    <select id="getByPetId" resultType="com.ycb.entity.vo.response.OnePB2PicVO">
        select *
        from `pet-adoption`.pet
                 join `pet-adoption`.bulletin b on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on p.pic_id = pet.picture_id
        where pet.pet_id = #{petId}
    </select>

    <select id="getAllByType" resultType="com.ycb.entity.dto.Pet">
        select *
        from `pet-adoption`.pet
                 join `pet-adoption`.bulletin b on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on p.pic_id = pet.picture_id
        where pet_type = #{type}
          and pet.is_delete = 0
          and b.is_delete = 0
        order by b.gmt_modified
    </select>

    <select id="getBIdByPid" resultType="java.lang.Integer">
        select bulletin_id
        from `pet-adoption`.pet
        where pet_id = #{petId}
    </select>

    <insert id="savePet">
        insert into `pet-adoption`.pet(pet_name, pet_type, pet_sex, picture_id, gmt_create, gmt_modified,
                                       bulletin_id)
            value (#{petName}, #{petType}, #{petSex}, #{pictureId}, #{gmtCreate}, #{gmtModified},
                   #{bulletinId})
    </insert>

    <select id="getPostPBById" resultType="com.ycb.entity.vo.response.AllPetAndBulVO">
        select *
        from `pet-adoption`.bulletin b
                 join `pet-adoption`.account a on a.account_id = b.account_id
                 join `pet-adoption`.pet on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on pet.picture_id = p.pic_id
        where b.account_id = #{id}
          and b.is_delete = 0
          and pet.is_delete = 0
    </select>

    <insert id="saveBulletin" parameterType="com.ycb.entity.dto.Bulletin" useGeneratedKeys="true"
            keyProperty="bulletinId">
        insert into `pet-adoption`.bulletin(type, contacts_name, contacts_phone, contacts_wechat, contacts_email,
                                            location, title, text, gmt_create, gmt_modified, account_id)
            value (#{type}, #{contactsName}, #{contactsPhone}, #{contactsWechat}, #{contactsEmail}, #{location},
                   #{title}, #{text}, #{gmtCreate}, #{gmtModified}, #{accountId})
    </insert>

    <update id="updatePostPIsDeleteByPetId">
        update `pet-adoption`.pet
        set is_delete = 1
        where pet_id = #{petId}
    </update>

    <update id="updatePostBIsDeleteByBulId">
        update `pet-adoption`.bulletin
        set is_delete = 1
        where bulletin_id = #{bId}
    </update>

    <select id="getBulIdByPetId" resultType="java.lang.Integer">
        select pet.bulletin_id
        from `pet-adoption`.pet
        where pet_id = #{pet_id}
    </select>

    <select id="getBulByBulIdAndAccId" resultType="java.lang.Integer">
        select *
        from `pet-adoption`.bulletin
        where bulletin_id = #{bulletinId}
          and account_id = #{accId}
    </select>
</mapper>