<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ycb.mapper.PetBulletinMapper">

    <update id="updateBulletinByBulId">
        update `pet-adoption`.bulletin
        <set>
            <if test="contactsName != null">
                contacts_name = #{contactsName},
            </if>
            <if test="contactsPhone != null">
                contacts_phone = #{contactsPhone},
            </if>
            <if test="contactsWechat != null">
                contacts_wechat = #{contactsWechat},
            </if>
            <if test="contactsEmail != null">
                contacts_email = #{contactsEmail},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="text != null">
                text = #{text},
            </if>
            <if test="bulletinStatus != null">
                bulletin_status = #{bulletinStatus},
            </if>
            gmt_modified = #{gmtModified}
        </set>
        where bulletin_id = #{bulletinId}
    </update>

    <update id="updatePetByPetId">
        update `pet-adoption`.pet
        <set>
            <if test="petName != null">
                pet_name = #{petName},
            </if>
            <if test="petType != null">
                pet_type = #{petType},
            </if>
            <if test="petSex != null">
                pet_sex = #{petSex},
            </if>
            <if test="isFree != null">
                is_free = #{isFree},
            </if>
            <if test="isSterilization != null">
                is_sterilization = #{isSterilization},
            </if>
            <if test="petHealthStatus != null">
                pet_health_status = #{petHealthStatus},
            </if>
            gmt_modified = #{gmtModified}
        </set>
        where pet_id = #{petId}
    </update>

    <select id="getAll" resultType="com.ycb.pojo.vo.AllPetBulletinVO">
        select *
        from `pet-adoption`.pet pet
                 join `pet-adoption`.bulletin b on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on p.pic_id = pet.picture_id
        where pet.is_delete = 0
          and b.is_delete = 0
          and b.bulletin_status = 1
        order by b.gmt_create
    </select>

    <select id="getOneByPetId" resultType="com.ycb.pojo.vo.OnePetBulletinVO">
        select *
        from `pet-adoption`.pet
                 join `pet-adoption`.bulletin b on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on p.pic_id = pet.picture_id
        where pet.pet_id = #{petId}
            and pet.is_delete = 0
            and b.is_delete = 0
    </select>

    <select id="getAllByPetType" resultType="com.ycb.pojo.entity.Pet">
        select *
        from `pet-adoption`.pet
                 join `pet-adoption`.bulletin b on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on p.pic_id = pet.picture_id
        where pet_type = #{type}
          and pet.is_delete = 0
          and b.is_delete = 0
          and b.bulletin_status = 1
        order by b.gmt_modified
    </select>

    <select id="getBulletinIdByPetId" resultType="java.lang.Integer">
        select bulletin_id
        from `pet-adoption`.pet
        where pet_id = #{petId}
    </select>

    <insert id="savePet">
        insert into `pet-adoption`.pet(bulletin_id, picture_id, pet_name, pet_type, pet_health_status,
                                       is_sterilization, gmt_create, gmt_modified)
            value (#{bulletinId}, #{pictureId}, #{petName}, #{petType}, #{petHealthStatus}, #{isSterilization},
                   #{gmtCreate}, #{gmtModified})
    </insert>

    <select id="getPostPBByAccountId" resultType="com.ycb.pojo.vo.AllPetBulletinVO">
        select *
        from `pet-adoption`.bulletin b
                 join `pet-adoption`.account a on a.account_id = b.account_id
                 join `pet-adoption`.pet on b.bulletin_id = pet.bulletin_id
                 join `pet-adoption`.picture p on pet.picture_id = p.pic_id
        where b.account_id = #{id}
          and b.is_delete = 0
          and pet.is_delete = 0
          and a.account_status = 1
          and a.is_delete = 0
        order by b.gmt_create
    </select>

    <insert id="saveBulletin" parameterType="com.ycb.pojo.entity.Bulletin" useGeneratedKeys="true"
            keyProperty="bulletinId">
        insert into `pet-adoption`.bulletin(account_id, type, bulletin_status, contacts_name, contacts_phone,
                                            contacts_wechat, contacts_email, location, title, text, gmt_create,
                                            gmt_modified)
            value (#{accountId}, #{type}, #{bulletinStatus}, #{contactsName}, #{contactsPhone}, #{contactsWechat},
                   #{contactsEmail}, #{location}, #{title}, #{text}, #{gmtCreate}, #{gmtModified})
    </insert>

    <update id="updatePostPet2IsDeleteByPetId">
        update `pet-adoption`.pet
        set is_delete = 1
        where pet_id = #{petId}
    </update>

    <update id="updatePostBIsDeleteByBulId">
        update `pet-adoption`.bulletin
        set is_delete = 1
        where bulletin_id = #{bId}
    </update>

    <select id="getBulByBulIdAndAccId" resultType="java.lang.Integer">
        select count(1)
        from `pet-adoption`.bulletin
        where bulletin_id = #{bulletinId}
          and account_id = #{accId}
    </select>

    <update id="updatePictureByPetId">
        update `pet-adoption`.pet
        set picture_id = #{picId}
        where pet_id = #{petId}
    </update>
</mapper>