<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ycb.mapper.PetMapper">
    <select id="getAll" resultType="com.ycb.entity.dto.Pet">
        select *
        from `pet-adoption`.pet
        order by gmt_modified
    </select>

    <select id="getAllByType" resultType="com.ycb.entity.dto.Pet">
        select *
        from `pet-adoption`.pet
        where pet_type = #{type}
        order by gmt_modified
    </select>

    <insert id="savePet" parameterType="com.ycb.entity.dto.Pet" useGeneratedKeys="true" keyProperty="id">
        insert into `pet-adoption`.pet(pet_name, pet_type, sex, picture, location, gmt_create, gmt_modified,
                                       bulletin_id)
            value (#{petName}, #{petType}, #{sex}, #{picture}, #{location}, #{gmtCreate}, #{gmtModified},
                   #{bulletinId})
    </insert>

    <insert id="saveBulletin" parameterType="com.ycb.entity.dto.Bulletin" useGeneratedKeys="true" keyProperty="id">
        insert into `pet-adoption`.bulletin(type, contacts_name, contacts_phone, contacts_wechat, contacts_email, title,
                                            text, gmt_create, gmt_modified, account_id)
            value (#{type}, #{contactsName}, #{contactsPhone}, #{contactsWechat}, #{contactsEmail}, #{title}, #{text},
                   #{gmtCreate}, #{gmtModified}, #{accountId})
    </insert>

</mapper>