<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ycb.mapper.PostAccPetMapper">
    <update id="updatePostPIsDeleteByPetId">
        update `pet-adoption`.pet
        set is_delete = 1
        where pet_id = #{petId}
    </update>

    <update id="updatePostBIsDeleteByBulId">
        update `pet-adoption`.bulletin
        set is_delete = 1
        where bulletin_id = #{bId}
    </update>

    <select id="getPostPBById" resultType="com.ycb.entity.vo.response.AllPetAndBulVO">
        select *
        from `pet-adoption`.bulletin b
                 join `pet-adoption`.account a on a.account_id = b.account_id
                 join `pet-adoption`.pet on b.bulletin_id = pet.bulletin_id
        where b.account_id = #{id}
          and b.is_delete = 0
          and pet.is_delete = 0
    </select>

    <select id="getBulIdByPetId" resultType="java.lang.Integer">
        select pet.bulletin_id
        from `pet-adoption`.pet
        where pet_id = #{pet_id}
    </select>

</mapper>